form{
    background-color:rgba(219, 114, 245, 0.688);
    width: 400px;
    height: 400pc;
    margin: auto;
}  
.formulario{
 font-family:'Sofia';
}
.titulo{ 
    font-family:'Faster One';
}
h1{
    text-align: center;
    font-family: 'Bungee Shade';
}
body{
    background-image: url(img/esteven.gif);
    background-size: contain;
}